h1 {
    color: white;
    font-size: 28px;
    font-family: arial, helvetica, sans-serif;
    margin: 10px 0px 10px 0px;
    padding: 5px 10px 5px 10px;
    background-color:rgba(243, 158, 38, 0.9);

    }
h2 {
    color:white;
    font-size: 40px;
    font-family: arial, helvetica, sans-serif;
    margin: 40px 0px 0px 30px;
}
p {
    text-indent: 30px;
    color: white;
    font-size: 18px;
    width: 100%;
    height: auto;
    font-family: arial, helvetica, sans-serif;
}
div.text {
    width: 38.5%;
    position:absolute;
    right: 20px;
    background-color: rgba(54, 54, 54, 1.0);
    margin: 20px 0px 0px 20px;
    border: white 3px solid;
    padding: 0px 20px 10px 25px;
    box-sizing: border-box;
}
div.scrollContainer {
    width: 50vh;
    height: 100vh;
    display: flex;
    align-items: center;
}
div.text2 {
    width: 38.5%;
    font-size:30px;
    color:white;
    font-family: courier, fixed, monospace;
    position: absolute;
    padding:10px 10px 10px 10px;
    bottom: 30px;
    left: 30px;
    box-sizing:border-box;
}
div.text3 {
    width: 60%;
    position:absolute;
    right: 5px;
    bottom: 5px;
    background-color: rgba(226,226,226,0.8);
    padding: 0px 20px 0px 20px;
    box-sizing:border-box;

}
div.nav {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    background-color: rgba(54, 54, 54, 0.8);
    box-sizing: border-box;
}

img { 
    width:40%
    height:auto;
}
a {
    color:inherit;
    text-decoration: none;
}
body {
    background-image: url("tunnel.jpg");
    overflow: hidden;
    background-size: cover;
}
